@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::VALEURS GLOBALES:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
body{
    background-color:#0f0f0f;
    color:wheat;
    transition:2s
}
a{
    text-decoration: none;
    font-family: 'Lato',sans-serif;
    color: wheat;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 8fr;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::ASIDE:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
aside{
    display: grid;
    grid-template-rows: 1fr 2fr 0.5fr;
    height: 970px;
    position:sticky;
    top:0;
    background-color: rgba(0, 0, 0, 0.431);

}

.title img{
    border-radius: 5px;
}



.reseaux{
    display: flex;
    flex-shrink: 0;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 28px;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 23px;
    width: 100%;
    
}

.middle a{
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    justify-content: center;
    background-color: #0f0f0f;
    transition: 0.3s;
}

.middle a:hover {
    background-color:rgb(253, 190, 74);
    color: #0f0f0f;
}

.bottom a:hover{
    color:rgb(253, 190, 74);
}

a:focus{
    color:rgb(253, 190, 74);
}

.bottom{
    /* background-color: rgb(10, 240, 29); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
    width: 100%;
    transition: 0.3s;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::FIN ASIDE::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::DROITE:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.droite{
    display: grid;
    
}

header{
    font-family: 'Quicksand',sans-serif;
    background-color: rgba(0, 0, 0, 0.431);
    font-size: 25px;
    color: wheat;
    display:flex;
}

.blocVide{
    width: 25%;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
}

#txtBtn{
    width: 150px;
}
 
 #blocSwitch{
     width:25%;
     display: flex;
     justify-content: center;
     align-items: center;
}
 
 #blocSwitch *{
     display: flex;
}
 
 
 /* The switch - the box around the slider */
 .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
     margin-right: 50px;
}
   
   /* Hide default HTML checkbox */
   .switch input {
     opacity: 0;
     width: 0;
     height: 0;
   }
   
   /* The slider */
   .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: 1.5s;
   }
   
   .slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
   }
   
   input:checked + .slider {
     background-color: rgb(221, 167, 20);
   }
   
   input:focus + .slider {
     box-shadow: 0 0 1px rgb(221, 167, 20);
   }
   
   input:checked + .slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
   }
   
   /* Rounded sliders */
   .slider.round {
     border-radius: 34px;
   }
   
   .slider.round:before {
     border-radius: 50%;
   }

h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
}


/* article{
    background-color: rgb(82, 81, 81);
} */

select{
    width: 150px;
    height: 25px;
    background-color: #0f0f0f;
    color: wheat;
    border-color: wheat;
    margin-bottom: 25px;
}

ul{
    list-style-type: none;
    margin: 0;
}

.competences{
    font-family: 'Quicksand',sans-serif;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1080px;
}



.blocLog{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    /* background-color: #ccc; */
}

.cv{
    display: flex;
    justify-content: center;
}

.cv img{
    width: 300px;
    border:solid wheat 2px;
    border-radius: 10px;
    margin-top: 180px;
    transition: 0.3s;
}

.cv img:hover{
    border: solid rgb(253, 190, 74) 2px;
    width:310px;
}

#sql{
    height: 70px;
    
}

#php{
    width: 60px;
    
}

#wordpress{
    width: 50px;
}

#ajax{
    width: 70px;
}




.realisations{
    font-family: 'Quicksand',sans-serif;
    /* background-color: rgb(19, 0, 128); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.431);
    max-height: 2000px;
}


.blocReal{
    width: 80%;
    display:flex;
    justify-content: space-evenly;
    /* background-color:#ad5d5d; */
    flex-flow: wrap row;
}
/* ////////////////////////////////////////////////////pop up infos////////////////////////// */

.pop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 30px;
    box-shadow: black 10px 10px 10px 0px;
    border: antiquewhite solid 1px;
    border-radius: 15px;
    visibility: hidden;
    color: blanchedalmond;
    background-color: #0f0f0f;
}


#blocPendu{
    text-align: center;
    /* background-color: blanchedalmond; */
    width: 300px;
    height: 300px;
    margin:15px;
    box-shadow: black 10px 10px 10px 0px;
    background-image: url('images/pendu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#blocBblio{
    width: 300px;
    height: 300px;
    margin:15px;
    box-shadow: black 10px 10px 10px 0px;
    background-image: url('images/bblio.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#blocCv{
    width: 300px;
    height: 300px;
    margin:15px;
    box-shadow: black 10px 10px 10px 0px;
    background-image: url('images/cv.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#blocSp{
    width: 300px;
    height: 300px;
    margin:15px;
    box-shadow: black 10px 10px 10px 0px;
    background-image: url('images/sp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.formations{
    font-family: 'Quicksand',sans-serif;
    /* background-color: rgb(230, 33, 33); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-height: 1400px;
}

.illu{
    width:35%;
    margin: 50px 0px 50px 0px;
}

#illuBig{
    width:25%;
    margin: 50px 0px 50px 0px;
}

.txtMaq{
    color: wheat;
    font-size: 28px;
    display: none; 
    justify-content: center;  
}

.containerMaq{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.txtDesc{
    font-size: 18px;
    font-style: italic;
}

.txtGest{
    color: wheat;
    font-size: 28px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 60%;
    text-align: center;
}

.txtIntS{
    color: wheat;
    font-size: 28px;
    display: none;
    flex-direction: column;
    align-items: center;
    /* background-color: #ad5d5d; */
    width: 60%;
    text-align: center;
}


.txtIntW{
    color: wheat;
    font-size: 28px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 60%;
    text-align: center;
}

.txtBack{
    flex-direction: column;
    align-items: center;
    width: 60%;
    color: wheat;
    font-size: 28px;
    display: none;
    text-align: center;
}

.txtBase{
    color: wheat;
    font-size: 28px;
    flex-direction: column;
    align-items: center;
    width: 60%;
    text-align: center;
    display: none;
}

.txtSecu{
    color: wheat;
    font-size: 28px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 60%;
    text-align: center;
}

.choix2{
    width: 230px;
    height: 25px;
    background-color: #0f0f0f;
    color: wheat;
    border-color: wheat;
    display: none;
}

.choix3{
    width: 230px;
    height: 25px;
    background-color: #0f0f0f;
    color: wheat;
    border-color: wheat;
    display: none;
}



.contact{
    font-family: 'Quicksand',sans-serif;
    /* background-color: rgb(85, 83, 83); */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.431);
    height:1080px;
}

.coord{
    font-size: 30px;
    text-align: left;
    color:wheat;
    }
    
    .coord i{
        margin-right: 20px;
    }
    
    .coord p{
        line-height: 56px;
    }
    
    
    .comBox{
        font-size: 18px;
        line-height: 28px;
        /* background-color: #ad5d5d; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .comBox ul{
        color:rgb(218, 203, 199);
    }
    
    #vae{
        color: rgb(218, 203, 199);
        text-align: center;
    }
    
    textarea{
        background-color: rgb(27, 27, 27);
        border: solid white 2px;
        color: wheat;
        width: 100%;
        height: 200px;
    }
    
    form{
        text-align: center;
        margin: auto;
        font-weight: bold;
    }
    
    .blocRenseign{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .identite{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-right:15px ;
        /* background-color: #ad5d5d; */
        
    }

    .ligne{
        display:flex;
        justify-content: space-between;
    }
    
    .identite input{
        margin-bottom: 20px;
        background-color: rgb(27, 27, 27);
        border: solid 2px;
        border-color: white;
        color:wheat;
        margin-left: 15px;
    }
    


    #index{
        list-style-type: none;
        line-height: 35px;
        color:wheat;
    }
    
    .com{
    background-color: rgba(0, 0, 0, 0.431);
    color: wheat;
    border: white;
    }

.centre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logosBas{
    display:none;
}

/* footer{
    background-color: aqua;
} */


   .lightMode {
    font-family: 'Quicksand',sans-serif;
    background-color: rgba(153, 153, 152, 0.397);
    color: papayawhip;
    transition:3s;

}



.lightMode .middle a{
    color:wheat;
}

.lightMode aside a{
    color: #0f0f0f;
    font-weight: bold;
}

.lightMode header{
    background-color: rgb(133, 131, 131);
}

.lightMode header , .lightMode #txtMaq ,.lightMode #txtIntS , .lightMode #txtIntW , .lightMode #txtGest , .lightMode #txtBack , .lightMode #txtBase , .lightMode #txtSecu{
    color: black;
}

.lightMode h2{
    color:#0f0f0f;
}

.lightMode h1{
    color: #0f0f0f;
}

.lightMode .choix2, .lightMode .choix1, .lightMode .choix3{
    border-color:#0f0f0f;
    color:#0f0f0f;
    background-color: wheat;
}

.lightMode aside {
   color: papayawhip; 
   background-color: rgb(133, 131, 131);
   transition:3s; 

}

.lightMode #logages img {
    filter: drop-shadow(7px 7px 7px black);
    -webkit-filter: drop-shadow(7px 7px 7px black);
}

.lightMode #realisations a{
    background-color:#d8d8d800;
}

.lightMode .pop{
    background-color: papayawhip;
    color: #0f0f0f;
    font-weight: bolder;
    border: solid black 1px;
    box-shadow: 2px 2px 2px 2px;
}

.lightMode .bottom i , .lightMode .coord a, .lightMode .ligne li {
    color: #0f0f0f;
}

.lightMode .centre p{
    color:#0f0f0f;
}

.lightMode #cv img{
    border: solid black 2px;
    box-shadow: #0f0f0f 7px 7px 7px 0px;
}

.lightMode .coord :hover {
    color: firebrick;
}

.lightMode .middle a:hover{
    background-color: firebrick;
    color: #0f0f0f;
    font-weight: bolder;
}

.lightMode .bottom i:hover{
    color: firebrick;
}

.lightMode .cv img:hover{
    border:firebrick solid 2px;
}

.lightMode .com{
    color: wheat;
    background-color:#0f0f0f;
}

/* @media only screen and (min-width:1297px) and (max-width:1700px){
    
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    
    
    
    header{
        font-size:24px;
        display: flex;
        justify-content: space-evenly;
    }


    h2{
        font-size:25px;
    }

    #txtBtn{
    width: 150px;
    }
    
    #blocSwitch{
        width: 300px;
        float: right;
        position: absolute;
        top:0px;
        right: 0px;
    }
    
    #blocSwitch *{
        display: flex;

    }

    aside{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        max-height: 250px;
        position:relative;
        background-color: rgba(0, 0, 0, 0.431);
        order:0;
    }

    aside a{
        font-size:17px;
    }

    .droite{
        order:1;
    }

    .formations{
        max-height: 1400px;
    }

    .bottom a{
        font-size: 28px;
    }
} */


@media only screen and (min-width:673px) and (max-width:1700px){
    
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    
    header{
        font-size:15px;
        display: flex;
        justify-content: space-evenly;
    }

    .blocVide{
       display:none;
    }

    h1{
        width: 100%;
    }

    h2{
        font-size:25px;
    }

    aside{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        max-height: 300px;
        position:relative;
        background-color: rgba(0, 0, 0, 0.431);
        order:0;
    }

    aside a{
        font-size:18px;
    }

    a img{
        width:120px;
    }

    .bottom a{
        /* font-size: 55px; */
        display: none;
    }

    #txtBtn{
        width: 150px;
        padding-left: 25px;
    }
        
    #blocSwitch{
        width: 150px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top:100px;
        right: 0px;
    }
    
    #blocSwitch *{
        display: flex;

    }

    .droite{
        order:1;
    }

    .coord a{
        font-size: 24px;
    }

    .formations{
        max-height: 1400px;
    }

    .logosBas{
        display:flex;
        width: 80%;
        justify-content: space-evenly;
        font-size: 55px;
    }

    .lightMode .logosBas i{
        color: firebrick;
    }

}

@media only screen and (max-width:672px){
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    
    header{
        font-size:15px;
        display: flex;
        justify-content: space-evenly;
    }

    .blocVide{
        display:none;
    }

    h1{
        width: 100%;
    }

    aside{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        max-height: 300px;
        position:relative;
        background-color: rgba(0, 0, 0, 0.431);
        order:0;
    }

    h2{
        font-size:25px;
    }

    aside a{
        font-size:16px;
    }

    a img{
        width:100px;
    }

    .bottom a{
        /* font-size: 32px; */
        display:none;
    }
    
    #txtBtn{
        width: 150px;
        padding-left: 25px;
    }
        
    #blocSwitch{
        width: 100px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top:100px;
        right: 0px;
    }
    
    #blocSwitch *{
        display: flex;

    }

    .droite{
        order:1;
    }

    .formations{
        max-height: 1400px;
    }

    .coord a{
        font-size: 24px;
    }

    .logosBas{
        display:flex;
        width: 80%;
        justify-content: space-evenly;
        font-size: 55px;
    }

    .lightMode .logosBas i{
        color: firebrick;
    }

}








